<div class="container custom-bg">
  <div class='custom-bg text-light d-flex justify-content-between rounded col-12 col-md-6 center mb-5 mt-4 '>
    <h1 class="center my-3">Select To Home Transact</h1>
  </div>

  <div class=" center py-5 shadow-lg rounded col-12 col-md-6 ">

        <div class='center py-2 mb-2 mx-2 transition '>
          <button class = 'btn  btn-lg text-light'><i class="fas fa-object-group"></i> <%= link_to 'All  My Transactions', transactions_path(view: true), :class => 'text-light'%></button>
        </div>
      <%= link_to transactions_path, :class => 'text-light' do %>
        <div class='center py-2 mb-2 mx-2 transition  '>
          <button class = 'btn  btn-lg text-light'><i class="fas fa-object-ungroup"></i>  All my external transactions</button>
        </div>
      <%end%>
      <%= link_to groups_path, :class => 'text-light' do %>
        <div class='center py-2 mb-2 mx-2 transition'>
          <button class = 'btn  btn-lg text-white'><i class="fas fa-users-cog"></i>  All Groups</button>
        </div>
      <%end%>
  </div>

  <div class='center py-2 mb-2 mx-2 transition '>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger btn-lg'  %>
  </div>
</div>
