<div class="center mt-3">
  <h1 class="custom-bg2 ol-12 col-md-5 center mb-5 shadow-sm">New Transaction</h1>

  <%= render 'form', transaction: @transaction %>

  <%= link_to 'Back', transactions_path, :class => 'btn btn-primary col-12 col-md-4 center font-weight-bold text-white' %>
</div>
